.App {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

.map-view-container{
  position: absolute;
  bottom: 32px;
  right: 32px;
}

.street-view-container{
  pointer-events: none;
  scale: 1.2;
  grid-area: 1/1;
}

.map-view{
  height: 100%;
  width: 100%;
}

.street-view{
  width: 100%;
  height: 100vh
}

.score-card-container{
  cursor:default;
  position: absolute;
  top: 32px;
  right: 0;
}

.button-container{
  z-index: 3 !important;
  display: flex;
  background: rgb(191, 64, 191);
  border-radius: 8px;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
  position: absolute;
  top: 40%;
  left: 40%;
}

.button{
  background: rgb(2, 162, 236);
  color: white;
  border-radius: 6px;
  text-align: center;
  line-height: 0;
  font-size: '24px';
  padding: 20px 20px;
}
.guess-button-container{
  display: flex;
  cursor: pointer;
  flex-direction: column;
  position: absolute;
  bottom: 48px;
  right: 48px;
  z-index: 3;
}

.containerResult {
  padding: 10px;
    text-align: center;
    gap: 8px;
    width: fit-content;
    color: aliceblue;
    font-size: 22px;
    height: fit-content;
}

.timer-container{
  cursor:default;
  position: absolute;
  width: 100%;
  top: 32px;
  right: center;
}